click==8.1.7
cloudpickle==3.1.0
dask==2024.12.0
dask-expr==1.1.20
fsspec==2024.10.0
importlib_metadata==8.5.0
locket==1.0.0
numpy==2.2.0
packaging==24.2
pandas==2.2.3
partd==1.4.2
pyarrow==18.1.0
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
six==1.17.0
toolz==1.0.0
tzdata==2024.2
zipp==3.21.0
